<div class="container my-5 py-5 z-depth-1" id="about">
    <section class="section mb-3">
        <h1 class="font-weight-bold section-heading mb-5 mt-4 text-center blue-text wow fadeIn" data-wow-delay="0.2s">
            About Me
        </h1>
        <div class="row wow fadeIn" data-wow-delay="0.4s">
            <div class="col-md-12 pb-5 text-center black-text">
                <p class="lead mb-4">My name is Abhishek B Kacher, I'm a professional photographer</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aspernatur voluptatem fugiat, ipsa
                    tempore animi perspiciatis accusamus consequatur commodi id vitae inventore nihil ut minus sunt
                    debitis
                    illum aut corrupti? Iure, sint?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, rem? Consequuntur dignissimos
                    dicta
                    voluptas velit, explicabo reprehenderit. Deleniti deserunt libero nesciunt eum veritatis quaerat
                    itaque
                    accusantium alias temporibus nemo, odio unde amet!</p>
            </div>
        </div>

    </section>
</div>