<header id="home">
    <div class="view jarallax" data-jarallax='{"speed":0.2}' style="background-image: url('https://images.pexels.com/photos/4164088/pexels-photo-4164088.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat : no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 800px;">
        <div class="mask rgba-black-strong">
            <div class="container h-100 d-flex justify-content-center align-items-center">
                <div class="row smooth-scroll">
                    <div>

                    </div>
                    <div class="col-md-12">
                        <h2 class="display-3 font-weight-bold mb-2 blue-text text-center wow fadeIn">Abhishek B
                            Kacher</h2>
                        <hr color="blue">
                        <h3 class="intro-subtext wow fadeIn blue-text text-center" data-wow-delay="0.2s">Professional
                            Photographer
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>